<!-- templates/partials/playlists_form.html -->

<fieldset>
    <legend>Edit Playlist</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='playlist-title'>Title</label><br>
        <input class='form-control' id='playlist-title' type='text' name='title' value='{{ playlist.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ playlist.description }}' />
    </div>

    <!-- VIDEO IDS -->
    <div class='form-group'>
        <label for='playlist-video-ids'>Videos</label><br/>
        <p class='text-muted'>Add the ID of the videos you want to include in your playlist. Separate with a newline.</p>
        <textarea class='form-control' id='playlist-video-ids' name='video_ids' rows='10' />{{ "\n".join(playlist.video_ids) }}</textarea>
    </div>
</fieldset>