<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/playlists'>
    <fieldset>
        <legend>New Playlist</legend>
        <!-- TITLE -->
        <p>
            <label for='playlist-title'>Title</label><br>
            <input id='playlist-title' type='text' name='title' />
        </p>

        <!-- DESCRIPTION -->
        <p>
            <label for='description'>Description</label><br>
            <input id='description' type='text' name='description' />
        </p>

        <!-- VIDEO IDS -->
        <p>
            <label for='playlist-video-ids'>Videos</label><br>
            <p>Add the ID of the videos you want to include in your playlist. Separate with a newline.</p>
            <textarea id='playlist-video-ids' name='video_ids' rows='10'></textarea>
        </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Playlist</button>
    </p>
</form>
{% endblock %}
